* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-y: auto;
}

body {
  font-family: sans-serif;
  scroll-behavior: smooth scroll;
  font-family: "Lato", sans-serif;
}

.nav_container {
  padding: 0 6rem;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.9);

  background-color: rgba(217, 182, 189, 0.502);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  backdrop-filter: blur(10px) brightness(1.1);
}

.logo_text {
  font-size: 2rem;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.logo_text_a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease-in-out;
}
.ul_ {
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 6rem;
}

.li_ {
  list-style: none;
  font-size: 1.4rem;
}

.a_ {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  transition: all 0.6s ease-in-out;
}

.a_:hover {
  font-size: 1.6rem;
  margin-top: 0.2rem;
  margin-left: 2rem;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  background-clip: border-box;
  transform: scale(1.1);
}
/* #need_help{
  font-size: 1.4rem;
  font-weight: bold;
  animation: need_help  1s infinite alternate 0.2s ease-in-out;
}

@keyframes need_help {
  from {margin-right: 0.2rem ; font-size: 1.2rem; font-variant: initial;}
  to {margin-right: 0.3rem ; font-size: 1.1rem; font-variant: normal;}
}
 */

.Hero_div {
  background-image: url("../src/images/hero_image1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) backwards;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.hero_title_text {
  position: absolute;
  margin-top: 12rem;
  margin-left: 6rem;
  font-size: 2.6rem;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.hero_paragraph_text {
  padding-top: 17rem;
  color: white;
  padding-left: 6rem;
  line-height: 1.5rem;
  width: 30rem;
  word-wrap: break-word;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.2rem;
  animation: tracking-in-expand-fwd-bottom 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.start_btn {
  width: 10rem;
  height: 3rem;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 6rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.244);
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border: none;
  cursor: pointer;

  color: white;
  background-color: rgba(217, 182, 189, 0.502);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  backdrop-filter: blur(10px) brightness(1.1);
  transition: all 0.4s ease-in-out;
}

.start_btn:hover {
  font-size: 1.2rem;
  width: 11rem;
  height: 3rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}

/* QUIZ 1 DESIGN STARTS FROM HERE */
.quiz1_div {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgba(0, 0, 0, 0.502);
  background-image: linear-gradient(
    rgba(167, 22, 22, 0.2),
    rgba(64, 11, 11, 0.2)
  );
  backdrop-filter: blur(10px) brightness(1.1);
  height: 100vh;
}

.general_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 4rem;
  overflow: hidden;
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.title_text {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
  color: white;
  font-size: 1.8rem;
  overflow: hidden;
}

.range_text_span {
  text-align: center;
  margin-bottom: 6rem;
  color: white;
}
#img_div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  width: 20rem;
  height: 25rem;

  color: white;
  background-color: rgba(217, 182, 189, 0.986);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  backdrop-filter: blur(10px) brightness(1.1);
  transition: all 0.6s ease-in-out;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.621);
  cursor: pointer;
}

#img_div:hover {
  font-size: 1.2rem;
  min-width: 20rem;
  height: 25rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.9);
}

.image_1 {
  width: 17rem;
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.621);
}

.pic_btn {
  margin-top: 1rem;
  width: 10rem;
  height: 3rem;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.621);
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border: none;
  cursor: pointer;

  color: white;
  background-color: rgba(217, 182, 189, 0.986);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  backdrop-filter: blur(10px) brightness(1.1);
  transition: all 0.4s ease-in-out;
}
.pic_btn:hover {
  font-size: 1.2rem;
  width: 11rem;
  height: 3rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}
/* QUIZ 1 DESIGN ENDS HERE */

/* QUIZ TWO DESIGN STARTS FROM HERE */

.quiz_2_div {
  background-color: rgba(0, 0, 0, 0.502);
  background-image: linear-gradient(
    rgba(167, 22, 22, 0.2),
    rgba(64, 11, 11, 0.2)
  );
  backdrop-filter: blur(10px) brightness(1.1);
  height: 100vh;
}

.box_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11rem;
}

.silver_title_text {
  padding-top: 6rem;
  text-align: center;
  color: white;
  font-size: 1.6rem;
}

.silver_div {
  text-align: center;
  padding-top: 7rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  min-width: 16rem;
  height: 20rem;
  color: white;
  background-color: rgb(217, 182, 189);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  backdrop-filter: blur(10px) brightness(1.1);
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.621);
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  animation: roll-in-blurred-left 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.silver_div:hover {
  min-width: 14rem;
  height: 20rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.9);
  background-image: linear-gradient(
    50deg,
    rgba(137, 137, 137, 0.9) 0%,
    rgba(199, 199, 199, 0.9) 50%,
    rgba(137, 137, 137, 0.9) 100%
  );
}

#gold_div:hover {
  min-width: 16rem;
  height: 20rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.9);
  background-image: linear-gradient(
    50deg,
    rgba(186, 113, 45, 0.9) 0%,
    rgba(252, 176, 64, 0.9) 50%,
    rgba(186, 113, 45, 0.9) 100%
  );
}

#both_div:hover {
  min-width: 16rem;
  height: 20rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.9);
  background-image: linear-gradient(
    50deg,
    rgba(186, 113, 45, 0.9) 0%,
    rgba(252, 176, 64, 0.9) 33%,
    rgba(199, 199, 199, 0.9) 66%,
    rgba(137, 137, 137, 0.9) 100%
  );
}

.silver_text {
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 0.6rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.silver_text1 {
  font-size: 1rem;
  word-spacing: 0.1rem;
  letter-spacing: 0.2px;
  padding-bottom: 0.4rem;
  padding: 0 1.6rem;
  cursor: pointer;
}
.silver_text2 {
  cursor: pointer;
}
.box_container {
  display: flex;
  align-items: center;
  align-items: center;
  gap: 1.8rem;
  flex-wrap: wrap;
  margin-top: -6rem;
}

/* QUIZ TWO DESIGN ENDS HERE */

/* QUIZ THREE DESIGN STARTS HERE*/
.quiz_3_div {
  background-color: rgba(0, 0, 0, 0.502);
  background-image: linear-gradient(
    rgba(167, 22, 22, 0.2),
    rgba(64, 11, 11, 0.2)
  );
  backdrop-filter: blur(10px) brightness(1.1);
  height: 100vh;
}

#text_quiz3 {
  font-weight: bold;
  font-size: 1.9rem;
  padding-top: 2rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#silver_div1:hover {
  background-image: linear-gradient(
    50deg,
    rgba(140, 66, 104, 0.7) 0%,
    rgba(0, 45, 118, 0.7) 100%
  );
  transition: all 0.6s ease-in-out;
}
#gold_div2:hover {
  background-image: linear-gradient(
    50deg,
    rgba(124, 216, 210, 0.7) 0%,
    rgba(58, 89, 68, 0.7) 100%
  );
}
#both_div3:hover {
  background-image: linear-gradient(
    50deg,
    rgba(124, 216, 210, 0.7) 0%,
    rgba(0, 45, 118, 0.7) 100%
  );
}

/* QUIZ THREE DESIGN ENDS FROM HERE */
/* QUIZ FOUR DESIGN STARTS FROM HERE */
.quiz_4_div {
  background-color: rgba(0, 0, 0, 0.502);
  background-image: linear-gradient(
    rgba(167, 22, 22, 0.2),
    rgba(64, 11, 11, 0.2)
  );
  backdrop-filter: blur(10px) brightness(1.1);
  height: 100vh;
}

.silver_text4 {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-clamp: 1rem;
  padding: 0 1rem;
  color: black;
  white-space: wrap;
}

.silver_div4 {
  text-align: center;
  padding-top: 7rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  min-width: 20rem;
  height: 22rem;
  color: white;
  background-color: rgb(217, 182, 189);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  backdrop-filter: blur(10px) brightness(1.1);
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.621);
  cursor: pointer;
  transition: all 0.6s ease-in-out;

  -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

.silver_div4:hover {
  min-width: 16rem;
  height: 20rem;
}

/* QUIZ FOUR DESIGN ENDS FROM HERE */
/* QUIZ FIVE DESIGN STARTS FROM HERE */

.product_info_container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Quiz_5_div {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgba(0, 0, 0, 0.502);
  background-image: linear-gradient(
    rgba(167, 22, 22, 0.2),
    rgba(64, 11, 11, 0.2)
  );
  backdrop-filter: blur(10px) brightness(1.1);
  height: 100vh;
}

#img_div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.type_title__text {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

/* QUIZ FIVE DESIGN ENDS FROM HERE */

/* LIGHT_FAIR RESULT STARTS FROM HERE */

.animation_light_fair_div {
  -webkit-animation: slide-in-blurred-right 0.8s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-right 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.img_product_info_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}
.images_product_info_div2 {
  overflow: hidden;
}
.images_product_info_div3 {
  overflow: hidden;
}

.light_fair_div {
  background-color: rgba(0, 0, 0, 0.502);
  background-image: linear-gradient(
    rgba(167, 22, 22, 0.2),
    rgba(64, 11, 11, 0.2)
  );
  backdrop-filter: blur(10px) brightness(1.1);
  height: 100%;
}

.product_category {
  color: white;
  font-size: 1.2rem;
  margin-top: 1rem;
  overflow: hidden;
  padding-bottom: 2rem;
}
.Title_ {
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 4rem;
  color: white;
  font-size: 2rem;
}

.img_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ac909647;
  width: 23rem;
  height: 28rem;
  border-radius: 1rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.warm_beie_img {
  border-radius: 1rem;
  width: 18rem;
  height: 20rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.warm_beie_img:hover {
  transform: scale(1.1);
  border-radius: 1rem;
}
.product_title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.product_price_span {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
}

.product_description {
  color: white;
  margin-top: 0.6rem;
  line-height: 1.5rem;
}
.paragraph_text_div {
  width: 23rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

.buy_now_btn {
  width: 10rem;
  height: 3rem;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.244);
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border: none;
  cursor: pointer;

  color: black;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.991),
    rgba(0, 0, 0, 0.2)
  );
  backdrop-filter: blur(10px) brightness(1.1);
  transition: all 0.4s ease-in-out;
  margin-bottom: 1rem;
}

.buy_now_btn:hover {
  font-size: 1.2rem;
  width: 11rem;
  height: 3rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}
/* LIGHT FAIR RESULT ENDS FROM FROM HERE */

/* DEEP FAIR RESULT STARTS FROM HERE */
.deep_fair_div {
  background-color: rgba(0, 0, 0, 0.502);
  background-image: linear-gradient(
    rgba(167, 22, 22, 0.2),
    rgba(64, 11, 11, 0.2)
  );
  backdrop-filter: blur(10px) brightness(1.1);
  height: 100%;
}

.animation_deep_fair {
  -webkit-animation: slide-in-bck-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bck-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bck-top {
  0% {
    -webkit-transform: translateZ(700px) translateY(-300px);
    transform: translateZ(700px) translateY(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-top {
  0% {
    -webkit-transform: translateZ(700px) translateY(-300px);
    transform: translateZ(700px) translateY(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* DEEP FAIR RESULT ENDS FROM HERE */

/* LIGHT BROWN RESULT FROM HERE */
.light_brown_div {
  background-color: rgba(0, 0, 0, 0.502);
  background-image: linear-gradient(
    rgba(167, 22, 22, 0.2),
    rgba(64, 11, 11, 0.2)
  );
  backdrop-filter: blur(10px) brightness(1.1);
  height: 100%;
}

.animation_light_brown {
  -webkit-animation: slide-in-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-tr {
  0% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
    transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-tr {
  0% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
    transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

/* LIGHT BROWN RESULT ENDS FROM HERE */

/* DEEP CHOCOLATE RESULT STARTS FROM HERE */
.deep_chocolate_div {
  background-color: rgba(0, 0, 0, 0.502);
  background-image: linear-gradient(
    rgba(167, 22, 22, 0.2),
    rgba(64, 11, 11, 0.2)
  );
  backdrop-filter: blur(10px) brightness(1.1);
  height: 100%;
}

.animation_deep_chocolate {
  -webkit-animation: slide-in-blurred-right 0.8s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-right 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* DEEP CHOCOLATE RESULT ENDS FROM HERE */

/* MEDIA QUERIES STARTS FROM HERE */
@media (width < 480px) {
  .nav_container {
    padding: 0;
    z-index: 1;
  }
  .Hero_div {
    background-image: url("../src/images/hero_image1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    text-align: center;
    flex-direction: column;

    position: relative;
    width: 100%;
    height: 100vh;

    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      backwards;
  }

  .logo_text {
    padding-left: 1rem;
    font-size: 1.3rem;
    z-index: 1;
  }
  .a_ {
    padding-right: 1.2rem;
  }

  .hero_title_text {
    margin: 0 auto;
    margin-left: 3.5rem;
    font-size: 2rem;
    white-space: nowrap;
    margin-top: 32rem;
    margin-left: 6rem;
  }
  .hero_paragraph_text {
    padding: 0 0.3rem;
    font-size: 1.3rem;
    width: 21rem;
    text-align: center;
    margin-top: 36rem;
    margin-left: 2.4rem;
    border-right: none;
    outline: none !important;
  }
  .start_btn {
    margin: 0 auto;
  }

  .title_text {
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .silver_title_text {
    font-size: 1.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .silver_text1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
  }
  .silver_text2 {
    font-size: 1.2rem;
  }
  .Title_ {
    font-size: 1.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .product_title {
    text-align: center;
  }

  .product_price_span {
    display: block;
    text-align: center;
  }
  .product_description {
    text-align: center;
    padding: 0 0.7rem;
    font-size: 1.1rem;
  }
  .buy_now_btn {
    display: block;
    margin: 0 auto;
  }
  .start_btn {
    width: 12rem;
    height: 4rem;
    font-size: 1.5rem;
  }
  .start_btn:hover {
    width: 12rem;
    height: 4rem;
    font-size: 1.4rem;
  }

  .type_title__text {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }

  .buy_now_btn,
  a {
    text-decoration: none;
  }
}

@media (width >= 481px) and (width < 767px) {
  .nav_container {
    padding: 0;
    z-index: 1;
  }
  .Hero_div {
    background-image: url("../src/images/hero_image1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    text-align: center;
    flex-direction: column;

    position: relative;
    width: 100%;
    height: 100vh;

    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      backwards;
  }

  .logo_text {
    padding-left: 1rem;
    font-size: 1.3rem;
    z-index: 1;
  }
  .a_ {
    padding-right: 1rem;
  }

  .hero_title_text {
    margin: 0 auto;
    margin-left: 4rem;
    font-size: 2rem;
    white-space: nowrap;
    margin-top: 26rem;
    margin-left: -rem;
  }
  .hero_paragraph_text {
    padding: 1rem;
    font-size: 1.2rem;
    width: 21rem;
    text-align: center;
    margin-top: 30rem;
    margin-left: 1rem;
  }
  .start_btn {
    margin: 0 auto;
  }

  .title_text {
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .silver_title_text {
    font-size: 1.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .Title_ {
    font-size: 1.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .product_title {
    text-align: center;
  }

  .product_price_span {
    display: block;
    text-align: center;
  }
  .product_description {
    text-align: center;
    padding: 0 0.7rem;
    font-size: 1.1rem;
  }
  .buy_now_btn {
    display: block;
    margin: 0 auto;
  }
}

@media (width >= 768px) and (width < 897px) {
  .nav_container {
    padding: 0;
    z-index: 1;
  }
  .Hero_div {
    background-image: url("../src/images/hero_image1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    text-align: center;
    flex-direction: column;

    position: relative;
    width: 100%;
    height: 100vh;

    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      backwards;
  }

  .logo_text {
    padding-left: 1rem;
    font-size: 2.4rem;
    z-index: 1;
  }
  .a_ {
    padding-right: 1rem;
    font-size: 2.4rem;
  }

  .hero_title_text {
    text-align: center;
    margin-left: 8rem;
    font-size: 4rem;
    white-space: nowrap;
    margin-top: 29rem;
    margin-left: -rem;
  }
  .hero_paragraph_text {
    padding: 1rem;
    line-height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    margin-top: 35rem;
    margin-left: 8rem;
  }
  .start_btn {
    margin: 0 auto;
    width: 20rem;
    height: 8rem;
    font-size: 3rem;
  }

  .start_btn:hover {
    width: 21rem;
    height: 9rem;
    font-size: 3.1rem;
  }

  .title_text {
    font-size: 2.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .silver_title_text {
    font-size: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .Title_ {
    font-size: 1.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .product_title {
    text-align: center;
  }

  .product_price_span {
    display: block;
    text-align: center;
  }
  .product_description {
    text-align: center;
    padding: 0 0.7rem;
    font-size: 1.1rem;
  }
  .buy_now_btn {
    display: block;
    margin: 0 auto;
  }

  .box_container {
    width: 100%;
  }

  .silver_div {
    width: 35rem;
    height: 25rem;
    font-size: 2.4rem;
  }
  .silver_text1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* CSS rules for medium desktops */
}

@media (min-width: 1200px) {
  /* CSS rules for large desktops */
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* CSS rules for high-resolution devices */
}

@media (orientation: landscape) {
  /* CSS rules for landscape orientation */
}

@media print {
  /* CSS rules for print styles */
}

/* MEDIA QUERIES Ends FROM HERE */
